{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-around">
                <div class=" text-center">
                    <a class="create_new_mission typo_title " href="{{ path('mission_new') }}">
                        Create a new mission
                    </a>

                </div>
                <div class=" text-center">
                    <a class="create_new_mission typo_title "
                       href="{{ path('mission_admin', {'user' : app.user.id}) }}">
                        Missions I created
                    </a>
                </div>
            </div>
        {% endif %}

        <h1 class="typo_title text-center text-white"> Search for your next mission !</h1>

        <div class="block-search d-flex justify-content-center align-items-center mt-5">
            {{ form_start(form) }}
            <div class="d-flex search_mission">
                <div>
                    {{ form_row(form.missionType,  { 'label': 'Type' }) }}
                </div>
                <div>
                    {{ form_row(form.level) }}
                </div>
                <div>
                    {{ form_row(form.transport) }}
                </div>
                <div>
                    <button class="btn ml-5" id="btn_custom">
                        {{ button_label|default('Search') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <h1 class="typo_title text-center text-white">Available missions</h1>
        <div class="row">
            {% for mission in missions %}
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset('build/images/' ~ mission.planet.imageArt) }}" alt="planet picture">
                            <span class="card-title">{{ mission.title }}</span>
                            <a href="{{ path('mission_show', {'id': mission.id }) }}"
                               class="btn-floating halfway-fab waves-effect waves-light blue"><i
                                        class="material-icons">Go</i></a>
                        </div>
                        <div class="card-content">
                            <p>{{ mission.description }}</p>
                            <p>Level required: <b>{{ mission.level }}</b></p>
                            <p>Mission type: <b>{{ mission.missionType }}</b></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
