{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>All the registered missions</h1>
    <div class="row">
        {% for mission in missions %}

            <div class="col s12 m6 lg3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('build/images/Gliese_imageArt2.jpg') }}" alt="planet picture">
                        <span class="card-title">{{ mission.title }}</span>
                        <a href="{{ path('mission_show', {'id': mission.id }) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">Go</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{ mission.description }}</p>
                        <p>Level required : {{ mission.level }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
