{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="typo_title">All the registered missions</h1>
        <div class="row">
            {% for mission in missions %}
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset('build/images/' ~ mission.planet.imageArt) }}" alt="planet picture">
                            <span class="card-title">{{ mission.title }}</span>
                            <a href="{{ path('mission_show', {'id': mission.id }) }}"
                               class="btn-floating halfway-fab waves-effect waves-light blue"><i
                                        class="material-icons">Go</i></a>
                        </div>
                        <div class="card-content">
                            <p>{{ mission.description }}</p>
                            <p>Level required : <b>{{ mission.level }}</b></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
